.pytest_cache
dist
__pycache__/
*.py[cod]
*.egg-info
*.pkl
*.pb
logs/
dreamer/logs_cfm/
dreamer/logs_vla/
dreamer/logs_navsim_*/
dreamer/navsim_feature_cache/
scores/
dreamer/scores/
logs_metadrive/
MUJOCO_LOG.TXT
Miniforge3-Linux-x86_64.sh
gym
;
